@model PaymentGateway.Models.TerminalPaymentDemo

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Terminal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Pay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <h4>Buy an item for price:</h4>
            </div>

            <div class="form-group">
                <label asp-for="SaleAmount" class="control-label"></label>
                <input asp-for="SaleAmount" class="form-control" />
                <span asp-validation-for="SaleAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayCurrency" class="control-label"></label>
                <select asp-for="PayCurrency" class="form-control" asp-items="ViewBag.PayCurrency"></select>
                <span asp-validation-for="PayCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
