@{
    ViewData["Title"] = "Invite confirmation";
    ViewData["ActivePage"] = LeftMenuNavPages.ServiceProviders;
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been set. Please <a href="@Url.Content("~/Identity/Account/Login")">click here to log in</a>.
</p>

